.DS_Store
/jupyterlab/settings/*
!/jupyterlab/settings/.gitkeep
.ipynb_checkpoints/
.Trash-0/
/.env
__pycache__/
pdf_data/
pdf_to_text/
data/
process_data/
reference_data/
storage/
storage_context/
log.json
text_pdf/
text.txt
category/
