.DS_Store
__pycache__/
.env
.env.prod
.venv
dev.env
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode-server/
.mypy_cache/
.cache/
.dotnet/
.bash_history
pdf_files/
log/
back-end/mysql/data/
back-end/qdrant/
*.pdf
.*_history
.ssh
.gnupg
.gitconfig
