jupyterlab 
jupyterlab-language-pack-ja-jp 
black 
jupyterlab_code_formatter 
jupyterlab-git 
jupyterlab_widgets 
ipywidgets 
import-ipynb
numpy 
pandas 
scipy 
scikit-learn 
matplotlib 
seaborn 
requests 
beautifulsoup4 
openai
llama-index
qdrant-client