[core]
	autocrlf = input
[user]
	name = gomagom
	email = s20t331@stu.kagawa-u.ac.jp
[credential]
	helper = "!f() { /src/.vscode-server/bin/5c3e652f63e798a5ac2f31ffd0d863669328dc4c/node /tmp/vscode-remote-containers-2dca1f89-8968-4dc7-ae3f-db8f7bd747cc.js git-credential-helper $*; }; f"
